#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        // Custom-Taste: ohne Shift "," / mit Shift ";"
        comma_semi: comma_semi {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMICOLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Custom-Taste: ohne Shift "." / mit Shift ":"
        dot_colon: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // Reihen 0-2: 12 Tasten je Reihe
            // Reihe 3: 10 Tasten (Col 3 und Col 7 sind frei/nicht vorhanden -> Split-Space + Extra-Key)
            bindings = 
&kp ESC   &kp Q              &kp W &kp E &kp R &kp T &kp Y &kp U       &kp I   &kp O       &kp P      &kp BSPC
&kp TAB   &kp A              &kp S &kp D &kp F &kp G &kp H &kp J       &kp K   &kp L       &kp HASH   &kp ENTER
&kp LSHFT &kp NON_US_BACKSLASH &kp Z &kp X &kp C &kp V &kp B &kp N       &kp M   &comma_semi &dot_colon &kp RSHFT
&kp LCTRL &kp LGUI &kp LALT          &kp SPACE  &tog 1     &kp SPACE          &kp RALT &none &none &none
            >;
        };

        // Zahlen/Symbole-Layer - per Toggle (tog 1) aktiviert/deaktiviert
        // Aktuell nur Zahlenreihe befuellt, Rest als Platzhalter (&trans)
        numbers_layer {
            bindings = 
&kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans          &trans &trans          &trans          &trans &trans &trans &trans
            >;
        };
    };
};
